<section class="py-20 bg-bp-grey-2">
  <div class="container">
    <div class="flex justify-between">
      <div class="lg:w-5/12">
        <div>
          <span class="inline-block px-2 py-1 bg-bp-teal-light text-white text-sm font-bold mb-3">
            NEW!
          </span>
          <h2 class="font-fraunces text-5xl text-bp-teal-dark mb-3">Boost Your Mood</h2>
          <p class="mb-6 text-bp-blue-dark">
            Boost your vibe with a wearable patch infused with natural hemp and aloe extract.
          </p>


          <a href="#" class="flex items-center group">
            <p class=" font-semibold text-bp-primary m-0" >Try the vibe patch Yourself</p>
            <div class="px-1">
              <svg class="group-hover:translate-x-0.5 transition-transform duration-200" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 4.5L10 8.5L6 12.5" stroke="#F07961" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
              </svg>
                
            </div>
          </a>
        </div>
      </div>
      <div class="lg:w-7/12">
        {% comment %} {% render "product-media" media: %} {% endcomment %}
      </div>
    </div>
  </div>
</section>