<section class="bg-white py-16">
  <div class="container">
    <h2 class="mb-12 text-center font-fraunces text-5xl text-bp-teal-dark">
      {{ section.settings.title }}
    </h2>

    <div class="mb-12 flex flex-wrap justify-center">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'column' %}
            {% render 'column', column: block.settings %}
        {% endcase %}
      {% endfor %}
    </div>

    <div class="flex justify-center">
      <div class="text-center">
        <a href="{{ section.settings.cta_link }}" class="group flex items-center">
          <p class=" m-0 font-semibold text-bp-heading">{{ section.settings.cta_text }}</p>
          <div class="px-1">
            <svg
              class="transition-transform duration-200 group-hover:translate-x-0.5"
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M6 4.5L10 8.5L6 12.5" stroke="#F07961" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Columns",
  "tag": "section",
  "class": "bg-white py-12",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "paragraph",
          "label": "Paragraph"
        }
      ],
      "limit": 4
    }
  ]
}
{% endschema %}
