<section class="bg-bp-grey-2 py-20">
  <div class="mx-auto max-w-7xl">
    <h2 class="mb-12 text-center font-fraunces text-4xl font-semibold text-bp-teal-dark">
      {{ section.settings.title }}
    </h2>
    <div class="overflow-hidden md:px-12">
      <div class="product-swiper relative mb-12 px-6 md:px-0">
        <div
          class="justift-center absolute bottom-0 left-0 top-0 z-10 flex h-full w-12 -translate-x-2  items-center bg-bp-grey-2 opacity-0 transition-opacity duration-200 md:-translate-x-12 "
          id="carousel-prev"
        >
          <div class="absolute -left-0 top-1/4 z-10 md:-left-3">
            <svg
              class="btn-prev rotate-180 cursor-pointer"
              width="48"
              height="48"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M17.9999 12L29.9999 24L17.9999 36" stroke="#BAC0B8" stroke-width="3.2" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div
          class="justift-center absolute bottom-0 right-0 top-0 z-10 flex h-full w-12 translate-x-2 items-center bg-bp-grey-2 transition-opacity duration-200 md:translate-x-12 "
          id="carousel-next"
        >
          <div class="absolute -right-0 top-1/4 z-10 md:-right-3">
            <svg
              class="btn-next cursor-pointer"
              width="48"
              height="48"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M17.9999 12L29.9999 24L17.9999 36" stroke="#BAC0B8" stroke-width="3.2" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div class="swiper-wrapper">
          {% for product in section.settings.featured_collection.products %}
            {% render "product-card" | product: product %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="{{ routes.all_products_collection_url }}" class="btn border-bp-orange bg-bp-orange"
        >View All Products</a
      >
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
